.pagination {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  color: black;
  margin: 3em;
  user-select: none;
  -webkit-user-select: none;
}

.pagination-index-page {
  cursor: pointer;
  padding: 0.25em;
  border-radius: 9px;
  border: 1px solid #e6c170;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  min-width: 40px;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-index-page {
  font-weight: 600;
  background: #efc250;
  border: 1px solid #efc250;
}

.nav-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e5e5e7;
  background: #e5e5e799;
  border-radius: 9px;
}

.nav-button::before {
  content: '';
  background-image: url('../../assets/icons/arrow.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.nav-button-active {
  cursor: pointer;
}

.nav-button-active::before {
  content: '';
  background-image: url('../../assets/icons/arrow_active.svg');
}

.left-side::before {
  transform: rotate(0deg);
}

.right-side::before {
  transform: rotate(180deg);
}
